// module.exports = {
//   presets: [
//     ['@babel/preset-env', {
//       useBuiltIns: 'usage',
//       corejs: 3,
//       targets: {
//         node: 'current',
//         browsers: ['last 2 versions', 'IE >= 11'],
//       },
//     }],
//   ],
// };

{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "IE >= 11"]
      }
    }]
  ]
}